[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=perso
Comment=stuff from .scripts/autostart.sh
Exec=sh /home/val/.scripts/startup.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

